{% extends 'base.html.twig' %}

{% block title %} - Home{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="section">
        <div class="col-12">
            <h1 id="bienvenida">BIENVENIDO AL SIMULADOR DE PLANIFICACIÓN DE PROCESOS</h1>
            <div class="welcome">
                <p id="descripcion" class="col-12">
                    Este sistema simula el funcionamiento de un planificador de procesos de un sistema operativo,
                    permite seleccionar diferentes opciones para realizar la simulación y poder
                    "construir" los diferentes elementos a simular.
                </p>
                <p id="orden">
                    Para cargar o iniciar una simulación haga click:
                </p>
                <a class="btn btn-info" id="apretar" href="{{ path('simulador_index') }}">Cargar simulación</a>
                <a class="btn btn-info" id="apretar" href="{{ path('new') }}">Comenzar simulación</a>

            </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}