{% import "simulador/componentes-output/_funciones.html.twig" as funciones %}
<div class="gantt">
  <h2>Mapa de memoria</h2>
  <div class="px-4">
    <div class="d-flex justify-content-center flex-wrap align-content-around mapa-memoria">
      <div class="p-2">
        {{ funciones.renderMemoria(0, rafagaInicial['particiones'], simulador.memoria, "t = 0") }}
      </div>
      {% for t,rafaga in rafagas if t>0 %}
        <div class="p-2">
          {{ funciones.renderMemoria(t, rafaga['particiones'], simulador.memoria, "t = " ~ t ) }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>