.items-particiones {
  display: none;
}
.form-particiones {
  width: 100%;
}
#memoria-size-error, #so-size-error,
#tipo-error, #new-part-error,
#ta-error, #irrupcion1-error,
#irrupcion2-error, #entradas-salidas-error,
#tamanio-error, #prioridad-error, #procesos-error{
  color: #dc3545;
  font-size: .8rem;
}
#memoria-500-error, #procesos-500-error {
  display: none;
  padding: 0.2rem 1rem;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  background: #dc3545;
  color: white;
  font-weight: bold;
  border: solid 2px #dc3545;
}
.form-particiones {
  label {
    position: relative;
    i {
      color: #00000099;
      font-size: .5rem;
      position: absolute;
    }
  }
}
.section {
  display: flex;
  .bloque {
    //width: 70%;
    margin: 2rem auto;
    box-shadow: #00000024 0px 1px 10px 0px;
    border-radius: 10px;
    font-size: 0.8rem;
    h2 {
      background: rgba(63, 81, 181, 0.6);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 0.5rem 2rem 0.5rem;
      font-size: .9rem;
      text-align: center;
      font-weight: bold;
      color: white;
      margin-bottom: 0;
      &.final{
        background-color: #20c997;
      }
    }
    h1 {
      font-size: 1.5rem;
      text-align: center;
      background: rgba(63, 81, 181, 0.6);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-weight: bold;
      color: white;
      padding: 1rem;
    }
    .welcome {
      padding: 1rem;
    }
    .bloque-body {
      position: relative;
      #memoria-check, #simulador-check, #procesos-check {
        display: none;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.5rem;
        color: #20c997;
      }
    }
    .finalizar {
      padding: 2rem;
      font-size: 1rem;
      font-weight: bold;
    }
    a.fin {
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 10px;
    }
  }
}
form, .list, .particion-list {
  padding: 2rem 2rem;
}
.tab-content {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  margin-bottom: 1rem;
}
.new-partition {
  box-shadow: #00000024 0px 1px 10px 0px;
  margin: 1rem 0;
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 10px;
  position: relative;
}
.new-partition .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background-color: #3f51b5cf;
  color: white;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#add-part-btn {
  margin-top: 1rem;
}
#partitions-container {
  height: 2.5rem;
  border-radius: 0;
}
.progress-bar {
  border-right: solid 2px white;
}
.progress-bar:first-child {
  border-left: none;
}
.progress-bar:last-child {
  border-right: none;
}
#new-proccess-container {
  position: relative;
}
#add-proccess-btn {
  position: absolute;
  right: 0;
}
#new-proccess-container input{
  text-align: center;
}
#new-proccess-container tr{
  background-color: #28a7452e;
  border: solid 2px #c5dcca;
}
#new-proccess-container th{
  font-size: .7rem;
}
.nav-tabs {
  background-color: #dee2e6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nav-tabs .nav-link {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #3f51b5;
  font-weight: bold;
}
.nav-tabs .nav-link.active {
  color: black;
}
.form-procesos {
  .alg-planificacion {
    width: 100%;
  }
  .quantum-container {
    display: none;
  }
  .agregar-proceso {
    box-shadow: #00000024 0px 1px 10px 0px;
    border-radius: 10px;
    font-size: 0.8rem;
    .prioridad {
      display: none;
    }
    .prioridad, .tamanio, .ta {
      & > label {
        font-weight: bold;
      }
    }
    label {
      margin-bottom: 0;
    }
    #ciclo-proceso {
      h3 {
        font-size: .8rem;
        font-weight: bold;
      }
    }
    button {
      font-size: .9rem;
    }
  }
  input, select {
    &::-webkit-input-placeholder {
      font-size: 0.8rem;
    }
    &::-moz-placeholder {
      font-size: 0.8rem;
    }
    &:-ms-input-placeholder {
      font-size: 0.8rem;
    }
    &::placeholder {
      font-size: 0.8rem;
    }
  }
}
.procesos-data {
  table {
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: #00000024 0px 1px 10px 0px;
    border: none;
    .header {
      th {
        background: #dee2e6;
        min-width: 3rem;
        border: none;
        padding: 0.2rem 0.5rem;
      }
    }
    .second th{
      background: darken(#dee2e6, 10%);
    }
    #procesos-table-body {
      #procesos-table-null {
        font-style: italic;
      }
      td {
        padding: 0.5rem 0.5rem;
      }
    }
  }
}