{% extends 'base.html.twig' %}

{% block title %} - Nuevo{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div id="section" class="section">
        <div id="bloque-principal" class="bloque mr-2 w-50">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-partitions-tab"
                       data-toggle="tab" href="#nav-partitions" role="tab"
                       aria-controls="nav-profile" aria-selected="true"
                    >
                        <i class="fas fa-memory"></i> Configuración de la memoria
                    </a>
                    <a class="nav-item nav-link" id="nav-work-tab"
                       data-toggle="tab" href="#nav-work" role="tab"
                       aria-controls="nav-contact" aria-selected="false"
                    >
                        Carga de trabajo
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                {{ include('simulador/componentes/new-memoria.html.twig') }}
                {{ include('simulador/componentes/new-procesos.html.twig') }}
            </div>
        </div>
        <div class="contenedor-bloque ml-2 w-50">
            <div class="bloque">
                <h2 id="datos-simulador-titulo">Datos del Simulador</h2>
                <div class="particion-list bloque-body">
                    <i id="simulador-check" class="fas fa-check-circle"></i>
                    <div>
                        <span><i class="fas fa-star"></i> ID: </span>
                        <strong>
                            <span id="simulador-id-span"></span>
                        </strong>
                    </div>
                    <div>
                        <span><i class="fas fa-exchange-alt"></i> Algoritmo de intercambio:
                            <strong>
                                <span id="algoritmo-intercambio-show"></span>
                            </strong>
                        </span>
                    </div>
                    <div>
                        <span><i class="far fa-clock"></i> Algoritmo de planificación:
                            <strong>
                                <span id="algoritmo-planificacion-show"></span>
                            </strong>
                        </span>
                    </div>
                    <div>
                        <span><i class="fas fa-tint"></i> Quantum:
                            <strong>
                                <span id="quantum-show"></span>
                            </strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="bloque">
                <h2 id="datos-memoria-titulo">Datos de la Memoria Principal</h2>
                <div class="particion-list bloque-body">
                    <i id="memoria-check" class="fas fa-check-circle"></i>
                    <div class="">
                        <span><i class="fas fa-star"></i> ID: </span>
                        <strong>
                            <span id="memory-id-span"></span>
                        </strong>
                    </div>
                    <div class="">
                        <span><i class="fas fa-memory"></i> Memoria disponible: </span><span id="memory-size-span"></span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <span id="maxima-particion-size" class="d-none"></span>
                            <span><i class="fas fa-stream"></i> Particiones:
                                <strong>
                                    <span id="tipo-particiones-show"></span>
                                </strong>
                            </span>
                        </div>
                        <div class="">
                            <span>Cantidad de particiones: </span>
                            <strong>
                                <span id="cant-part-span"></span>
                            </strong>
                        </div>
                    </div>
                    <div id="partitions-container" class="progress"></div>
                </div>
            </div>
            <div class="bloque procesos-data">
                <h2 id="datos-procesos-titulo">Datos de los Procesos</h2>
                <div class="particion-list bloque-body">
                    <i id="procesos-check" class="fas fa-check-circle"></i>
                    <table>
                        <tr class="header first">
                            <th rowspan="2">ID</th>
                            <th rowspan="2">TA</th>
                            <th colspan="3">Ciclo</th>
                            <th rowspan="2">Tamaño</th>
                            <th rowspan="2">Prioridad</th>
                        </tr>
                        <tr class="header second">
                            <th>Irrupción</th>
                            <th>Bloqueo</th>
                            <th>Irrupción</th>
                        </tr>
                        <tbody id="procesos-table-body">
                            <tr>
                                <td class="py-3" id="procesos-table-null" colspan="7">No hay proceso cargados</td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        <!-- <button type="submit" class="btn btn-primary">Iniciar simulación</button> -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('new-simulador') }}
{% endblock %}