.cola-body {
  padding: .5rem;
  border-radius: 5px;
  .par {
    color: black;
    background: #caced2;
    padding: .1rem 0.3rem;
    &:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  .impar {
    color: black;
    background: #b1b1b1;
    padding: .1rem 0.3rem;
    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}
.flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.flex > div{
  margin: 0 10px 0 0;
  &:last-child {
    margin: 0;
  }
  text-align: center;
}

.output-contenedor {
  padding-top: 1rem;
}
.gantt {
  box-shadow: #00000024 0px 1px 10px 0px;
  border-radius: 10px;
  font-size: 0.8rem;
  margin: 10px auto;
  padding-bottom: 1rem;
  h2 {
    padding: .5rem;
    background: rgba(63, 81, 181, 0.6);
    border-top-left-radius: 10px;
    color: white;
    border-top-right-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
  }
  .referencias {
    width: fit-content;
    box-shadow: #00000024 0px 1px 10px 0px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin: 1.5rem;
    padding: 1rem;
    .proceso-referencia {
      margin-right: .2rem;
      padding: 2px 6px;
      border-radius: 5px;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    }
    .icon {
      width: 30px;
      text-align: center;
      i {
        color: #666666;
      }
    }
    .gantt-line-referencia {
      width: 30px;
      margin-right: .2rem;
      border: solid 2px;
      height: 10px;
      background: #4CAF50;
      &.ocioso {
        background-color: white;
      }
      &.bloqueado {
        background-color: rgba(63, 81, 181, 0.6);
      }
    }
    i {
      font-size: 1.2rem;
      &.bloquea {
        color: rgb(102, 102, 102);
      }
      &.interrumpe {
        color: lighten(rgb(102,102,102), 30%)
      }
      &.sale {
        color: black;
      }
    }
    span {
      font-style: italic;
    }
  }
  .gantt-body {
    padding: 20px 20px 50px;
    margin: 2rem;
    //text-align: -webkit-center;
    overflow-x: auto;
    //height: 30rem;
    .gantt-ejex {
      position: absolute;
      left: -13px;
      top: 110%;
      a {
        color: black;
        padding: 7px 10px;
        font-weight: bold;
        //background: whitesmoke;
        //box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
        border-radius: 10px;
      }
    }
    .popover-flecha {
      display: none;
      position: absolute;
      left: 12px;
      top: 23px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #dee2e6;
    }
    .data-popover {
      text-align: left;
      width: max-content;
      border-radius: 10px;
      display: none;
      background: #dee2e6;
      position: absolute;
      top: 34px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
      h3 {
        font-size: .9rem;
        text-align: center;
        padding: .5rem;
        margin: 0;
        background: #66666652;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: bold;
        span {
          background-color: darken(#66666652, 50%);
          color: white;
          padding: 2px 7px;
          border-radius: 5px;
        }
      }
      .proceso-name {
        position: relative;
        right: 0;
        bottom: 0;
        padding: 2px 5px;
        background: white;
      }
      .popover-body {
        > div {
          margin-bottom: .5rem;
        }
      }
      .cola {
        background: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
        &.nuevos {
          .titulo {
            background: #CDDC39;
            color: black;
          }
        }
        &.listos {
          .titulo {
            background: #4CAF50;
          }
        }
        &.bloqueados {
          .titulo {
            background: #795548;
          }
        }
        .titulo {
          border-top-left-radius: 10px;
          text-align: center;
          border-top-right-radius: 10px;
          padding: 0.3rem;
          color: white;
        }
        .cola-body {
          padding: .5rem;
          border-radius: 5px;
          .par {
            color: black;
            background: #caced2;
            padding: .1rem 0.3rem;
            &:first-child {
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
            }
            &:last-child {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
            }
          }
          .impar {
            color: black;
            background: #b1b1b1;
            padding: .1rem 0.3rem;
            &:last-child {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
            }
          }
        }
      }
    }
    .gantt-line.estado-inicial {
      position: relative;
      width: 46px;
      height: 10px;
      background: none;
      border: none;
      text-align: center;
      &:hover {
        background: none;
      }
      a {
        position: absolute;
        bottom: -9px;
        font-size: 1.3rem;
        color: #666666;
        &:hover {
          color: black;
        }
      }
    }
    .gantt-line {
      margin-top: 50px;
      width: 50px;
      border-bottom: solid 2px;
      position: relative;
      border-right: solid 2px;
      border-top: solid 2px;
      height: 10px;
      background-color: #4CAF50;
      &.bloqueo {
        background-color: rgba(63, 81, 181, 0.6);
        &:hover {
          background-color: darken(rgba(63, 81, 181, 0.6), 10%);
        }
      }
      &:hover {
        cursor: pointer;
        background-color: darken(#4CAF50, 10%);
      }
      &.first {
        border-left: solid 2px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
      &.last {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
      &.ocioso {
        background-color: #fff;
        &:hover {
          background-color: darken(#fff, 10%);
        }
      }
    }
    .proceso-name {
      position: absolute;
      right: 8px;
      bottom: 10px;
      padding: 7px 10px;
      border-radius: 5px;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px 0px;
    }
    .proceso-sale {
      display: none;
      position: absolute;
      right: -24px;
      bottom: 8px;
      padding: 20px 10px 3px 14px;
      border-right: none;
      border-left: solid 4px;
      border-top: solid 4px;
      border-top-right-radius: 0;
      border-top-left-radius: 30px;
      height: 55px;
    }
    .proceso-bloquea {
      display: none;
      position: absolute;
      left: 22px;
      bottom: 8px;
      padding: 20px 10px 3px 14px;
      border-left: none;
      border-right: solid 4px rgb(102, 102, 102);
      border-top: solid 4px rgb(102, 102, 102);
      border-top-left-radius: 0;
      border-top-right-radius: 30px;
      height: 55px;
      &.interrumpe {
        border-right: solid 4px lighten(rgb(102, 102, 102), 30%);
        border-top: solid 4px lighten(rgb(102, 102, 102), 30%);
      }
    }
    .flecha {
      display: none;
      position: absolute;
      left: 65px;
      top: -69px;
      font-weight: bold;
      font-size: 20px;
      height: 55px;
    }
    .flecha-bloquea {
      display: none;
      position: absolute;
      right: 17px;
      top: -69px;
      font-weight: bold;
      font-size: 20px;
      color: rgb(102, 102, 102);
      height: 55px;
      &.interrumpe {
        color: lighten(rgb(102,102,102), 30%)
      }
    }
  }
}
.memoria-bloque {
  background: white;
  display: none;
  .titulo {
    background-color: #b3b3b3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: .3rem;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  box-shadow: #00000024 0px 1px 10px 0px;
  border-radius: 10px;
  .particiones-container {
    height: 200px;
    box-shadow: #00000024 0px 1px 10px 0px;
    border-radius: 7px;
    width: 7rem;
    margin: auto;
    .particion-block {
      width: 7rem;
      box-shadow: #00000024 0px 2px 4px 0px;
      &:first-child {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        .particion {
          border-top-left-radius: 5px;
          .particion-null {
            border-top-left-radius: 5px;
          }
        }
      }
      &.so {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border-bottom: none;
      }
      .particion:has(.proceso-name) {

      }
      .particion {
        height: 100%;
        width: 65%;
        background-color: rgba(63, 81, 181, 0.9);
        position: relative;
        &:hover {
          cursor: pointer;
        }
        &.so {
          background-image:linear-gradient(to right, #434343 0%, black 100%);
          color: white;
          text-align: center;
          font-weight: bold;
          border-bottom-left-radius: 5px;
        }
        .proceso-name {
          padding: 1px 5px;
          border-radius: 5px;
          font-weight: bold;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px 0px;
          background-color: white;
        }
        .mensaje {
          display: none;
          position: absolute;
          background: white;
          top: -65px;
          padding: 5px 10px;
          box-shadow: #00000024 0px 1px 10px 0px;
          border-radius: 10px;
        }
        .particion-null {
          cursor: default;
          height: 100%;
          width: 100%;
          box-shadow: inset rgba(0, 0, 0, 0.6) 0px 0px 8px 0px;
          background-image:
            linear-gradient(-45deg,
              rgba(0, 0, 0, 0.6) 25%,
              rgba(0, 0, 0, 0.4) 25%,
              rgba(0, 0, 0, 0.4) 50%,
              rgba(0, 0, 0, 0.6) 50%,
              rgba(0, 0, 0, 0.6) 75%,
              rgba(0, 0, 0, 0.4) 75%,
              rgba(0, 0, 0, 0.4)
          );
          background-size: 8px 8px;
        }
      }
      .datos {
        width: 25%;
        .tamanio {
          font-size: .6rem;
        }
      }
    }
  }
}
.cuerpo-tabla .memoria-bloque {
  display: block;
  margin: 1rem;
}
.gantt-line, .numero-procesador, .numero-bloqueo {
  display: none;
}
.popover-body .memoria-bloque {
  display: block;
}
.cola-block {
  height: 2rem;
}
#cola-finalizados-display {
  .proceso-name {
    font-style: normal;
    background: white;
    padding: 5px 5px;
    margin: 0 .3rem;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px 0px;
  }
}
.multinivel-info {
  padding-left: 1rem;
  border-top: solid 2px;
  border-bottom: solid 2px;
}