.flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.flex > div{
  &:first-child {
    min-width: 40%;
    margin: 0 10px 0 0;
  }
  &:nth-of-type(2) {
    min-width: 28%;
  }
  &:last-child {
    min-width: 30%;
    margin: 0 0 0 10px;
  }
  text-align: center;
}

.output-contenedor {
  padding-top: 1rem;
}
.gantt {
  box-shadow: #00000024 0px 1px 10px 0px;
  border-radius: 10px;
  font-size: 0.8rem;
  margin: 10px auto;
  padding-bottom: 1rem;
  h2 {
    padding: .5rem;
    background: rgba(63, 81, 181, 0.6);
    border-top-left-radius: 10px;
    color: white;
    border-top-right-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  .referencias {
    width: fit-content;
    box-shadow: #00000024 0px 1px 10px 0px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin: 1.5rem;
    padding: 1rem;
    .proceso-referencia {
      margin-right: .2rem;
      padding: 2px 6px;
      border-radius: 5px;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    }
    .gantt-line-referencia {
      width: 30px;
      margin-right: .2rem;
      border: solid 2px;
      height: 10px;
      background: #8b96d2;
      &.ocioso {
        background-color: white;
      }
    }
    i {
      font-size: 1.2rem;
      &.bloquea {
        color: rgb(102, 102, 102);
      }
      &.interrumpe {
        color: lighten(rgb(102,102,102), 30%)
      }
      &.sale {
        color: black;
      }
    }
    span {
      font-style: italic;
    }
  }
  .gantt-body {
    padding: 20px 20px 50px;
    margin: 2rem;
    text-align: -webkit-center;
    overflow-x: auto;
    //height: 30rem;
    .gantt-ejex {
      position: absolute;
      left: -13px;
      top: 110%;
      a {
        color: #3f51b5;
        padding: 7px 10px;
        font-weight: bold;
        //background: whitesmoke;
        //box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
        border-radius: 10px;
      }
    }
    .popover-flecha {
      display: none;
      position: absolute;
      left: 12px;
      top: 23px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #dee2e6;
    }
    .data-popover {
      text-align: left;
      width: max-content;
      padding: 1rem;
      border-radius: 10px;
      display: none;
      background: #dee2e6;
      position: absolute;
      top: 34px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
      .proceso-name {
        position: relative;
        right: 0;
        bottom: 0;
        padding: 2px 5px;
        background: white;
      }
      .popover-body {
        > div {
          margin-bottom: .5rem;
        }
      }
      .cola {
        background: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
        &.nuevos {
          .titulo {
            background: #CDDC39;
            color: black;
          }
        }
        &.listos {
          .titulo {
            background: #4CAF50;
          }
        }
        &.bloqueados {
          .titulo {
            background: #795548;
          }
        }
        .titulo {
          border-top-left-radius: 10px;
          text-align: center;
          border-top-right-radius: 10px;
          padding: 0.3rem;
          color: white;
        }
        .cola-body {
          padding: .5rem;
          border-radius: 5px;
          .par {
            color: black;
            background: #caced2;
            padding: .1rem 0.3rem;
            &:first-child {
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
            }
            &:last-child {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
            }
          }
          .impar {
            color: black;
            background: #b1b1b1;
            padding: .1rem 0.3rem;
            &:last-child {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
            }
          }
        }
      }
    }
    .gantt-line {
      margin-top: 50px;
      width: 50px;
      border-bottom: solid 2px;
      position: relative;
      border-left: solid 2px;
      border-top: solid 2px;
      height: 10px;
      background-color: #8b96d2;
      &:hover {
        cursor: pointer;
        background-color: darken(#8b96d2, 10%);
      }
      &.first {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
      &.last {
        border-right: solid 2px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
      &.ocioso {
        background-color: #fff;
        &:hover {
          background-color: darken(#fff, 10%);
        }
      }
    }
    .proceso-name {
      position: absolute;
      right: 8px;
      bottom: 10px;
      padding: 7px 10px;
      border-radius: 5px;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px 0px;
    }
    .proceso-sale {
      position: absolute;
      right: -24px;
      bottom: 8px;
      padding: 20px 10px 3px 14px;
      border-right: none;
      border-left: solid 4px;
      border-top: solid 4px;
      border-top-right-radius: 0;
      border-top-left-radius: 30px;
      height: 55px;
    }
    .proceso-bloquea {
      position: absolute;
      left: 22px;
      bottom: 8px;
      padding: 20px 10px 3px 14px;
      border-left: none;
      border-right: solid 4px rgb(102, 102, 102);
      border-top: solid 4px rgb(102, 102, 102);
      border-top-left-radius: 0;
      border-top-right-radius: 30px;
      height: 55px;
      &.interrumpe {
        border-right: solid 4px lighten(rgb(102, 102, 102), 30%);
        border-top: solid 4px lighten(rgb(102, 102, 102), 30%);
      }
    }
    .flecha {
      position: absolute;
      left: 65px;
      top: -69px;
      font-weight: bold;
      font-size: 20px;
    }
    .flecha-bloquea {
      position: absolute;
      right: 17px;
      top: -69px;
      font-weight: bold;
      font-size: 20px;
      color: rgb(102, 102, 102);
      &.interrumpe {
        color: lighten(rgb(102,102,102), 30%)
      }
    }
  }
}