@import "../../templates/home/home.scss";
@import "../../templates/simulador/output.scss";
@import "../../templates/simulador/new.scss";

button {
  font-weight: bold !important;
}
select {
  option.default-option {
    font-style: italic;
  }
}
input, button, select {
  border-radius: 10px!important;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 113, 195, 0.6) !important;
    border-color: #6371c3 !important;
  }
}
.navbar-brand i {
  background: #222;
  padding: .3rem;
  border-radius: 5px;
}
.btn-secondary {
  background-color: #3f51b5;
  border-color: #3f51b5;
  &:hover {
    background-color: darken(#3f51b5, 10%);
    border-color: darken(#3f51b5,10%);
  }
  &:disabled:hover {
    background-color: #6c757d;
    border-color: #6c757d;
  }
}
.btn-primary {
  background-color: #20c997;
  border-color: #20c997;
  &:hover {
    background-color: darken(#20c997, 10%);
    border-color: darken(#20c997,10%);
  }
  &:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  &:disabled:hover {
    background-color: #6c757d;
    border-color: #6c757d;
  }
}
.contenedor {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.tabla {
  box-shadow: #00000024 0px 1px 10px 0px;
  border-radius: 10px;
  font-size: 0.8rem;
  h2 {
    padding: .5rem;
    background: #3f51b5;
    border-top-left-radius: 10px;
    color: white;
    border-top-right-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .cuerpo-tabla {
    margin-left: 20px;
    margin-right: 20px;
  }
  table {
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: #00000024 0px 1px 10px 0px;
    border: none;
    .header th {
      background: #dee2e6;
      min-width: 3rem;
      border: none;
      padding: 0.2rem 0.5rem;
    }
    .second th{
      background: darken(#dee2e6, 10%);
    }
  }
}