@import "../../templates/home/home.scss";
@import "../../templates/simulador/output.scss";
@import "../../templates/simulador/new.scss";

button {
  font-weight: bold !important;
}
select {
  option.default-option {
    font-style: italic;
  }
}
input, button, select, a.btn {
  border-radius: 10px!important;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 113, 195, 0.6) !important;
    border-color: #6371c3 !important;
  }
}
.navbar-brand i {
  background: #222;
  padding: .3rem;
  border-radius: 5px;
}
.btn-secondary {
  background-color: #3f51b5;
  border-color: #3f51b5;
  &:hover {
    background-color: darken(#3f51b5, 10%);
    border-color: darken(#3f51b5,10%);
  }
  &:disabled:hover {
    background-color: #6c757d;
    border-color: #6c757d;
  }
}
.btn-primary {
  background-color: #20c997;
  border-color: #20c997;
  &:hover {
    background-color: darken(#20c997, 10%);
    border-color: darken(#20c997,10%);
  }
  &:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  &:disabled:hover {
    background-color: #6c757d;
    border-color: #6c757d;
  }
}
.contenedor {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.tabla {
  box-shadow: #00000024 0px 1px 10px 0px;
  border-radius: 10px;
  font-size: 0.8rem;
  background-color: white;
  h2 {
    padding: .5rem;
    background: rgba(63, 81, 181, 0.6);
    border-top-left-radius: 10px;
    color: white;
    border-top-right-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .run {
    background-color: #2980ba;
    border-color: #2980ba;
    padding: .1rem .4rem;
    margin-right: 1rem;
    &:hover {
      background-color: darken(#2980ba, 10%);
      border-color: darken(#2980ba, 10%);
    }
    &.disabled {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
      cursor: default;
      &:hover {
        background-color: #6c757d;
        border-color: #6c757d;
      }
    }
  }
  .cuerpo-tabla {
    margin-left: 20px;
    margin-right: 20px;
  }
  table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: #00000024 0px 1px 10px 0px;
    border: none;
    tr.main {
      border-top: solid 1px #dee2e6;
    }
    td.main {
      padding: .5rem 0;
      form {
        padding: 0;
      }
    }
    .header th {
      background: #dee2e6;
      min-width: 3rem;
      border: none;
      padding: 0.2rem 0.5rem;
    }
    .second th{
      background: darken(#dee2e6, 10%);
    }
    .badge {
      font-size: 100%;
      &.intercambio {
        background-color: #1aa58b;
      }
      &.planificacion {
        background-color: #2196f352;
        color: black;
      }
    }
    .no-algoritmo {
      font-style: italic;
      color: var(--gray);
    }
    .actions-container {
      display: flex;
      form {
        padding: 0;
        button {
          color: var(--red);
        }
      }
    }
  }
  .detalles-container {
    background-image: linear-gradient(to bottom, #ffffff 0%, #dee2e6 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    form {
      padding: 0;
      margin-right: 1rem;
    }
    .tabla {
      h2 {
        font-size: .8rem;
        background: none;
        color: black;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      table {
        margin-top: .5rem;
        background: white;
      }
    }
  }
  .btn.delete {
    background: #F44336;
    color: white;
    padding: .1rem .4rem;
  }
}